<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- dev is the default connection string -->
		<add name="devconnectionstring" connectionstring="server=localhost,1433;database=ecommmgr;user id=sa;password=d@ckersql;" providername="system.data.sqlclient" />
		<add name="TestConnectionString" connectionString="Server=localhost,1433;Database=eCommMgr;User Id=sa;Password=D@ckersql;" providerName="System.Data.SqlClient" />
		<add name="PreProdConnectionString" connectionString="Server=localhost,1433;Database=eCommMgr;User Id=sa;Password=D@ckersql;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="AlwaysRun" value="True" />
		<!-- dev is the default Job Publish Name -->
		<add key="DevJobPublishName" value="PUBLISH" />
		<add key="TestJobPublishName" value="PUBLISH" />
		<add key="PreProdJobPublishName" value="PUBLISH" />
		<add key="ScriptsPath" value=".\Scripts" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>